// $fondo:black;
$shadow: rgba(70, 76, 77, 0.982) 10px 0 10px;
$back-button: black;
$footer-shadow:2px 8px 5px rgba(255, 255, 255, 0.85);;
$box-shadow: rgba(70, 76, 77, 0.982) 0px  20px 10px;
$border-radius: 5px 5px 5px 5px;