@import '../variables/-variables.scss';

* {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    overflow-x: hidden;
    // min-height: 100vh;
}

body {
    color: rgb(255, 255, 255);
    background: #17335c;
    background: radial-gradient(circle farthest-corner at center center, #0b192c 0%, #000000 80%);
    background: -webkit-radial-gradient(circle farthest-corner at center center, #132848 0%, #000000 80%);
    background: -moz-radial-gradient(circle farthest-corner at center center, #000000 0%, #000000 80%);
    height: fit-content;

    & a {
        color: white;
        text-decoration: none;
    }

    & h1 {
        overflow-y: hidden;
    }

    & h2 {
        overflow-y: hidden;
    }

    & h3 {
        overflow-y: hidden;
    }

    & h4 {
        overflow-y: hidden;
    }

    & h5 {
        overflow-y: hidden;
    }

    & button {
        overflow-y: hidden;
    }

    & div {
        overflow-y: hidden;
    }

    & p {
        overflow-y: hidden;
    }
    & ul{
        overflow-y: hidden;
        & li{
            overflow-y: hidden;
        }
    }
}