
header {
    display: flex;
    flex-direction: row;
    width: 100%;

    & nav {
        margin-right: auto;
        margin-left: auto;
        min-width: 100vw;

        
        & ul{
            border: solid 1px white;
        }

        & ul li {
            padding: 1%;
            display: inline-block;
            margin-right: auto;
            margin-left: auto;
            justify-content: center;
            justify-items: center;
            color: white;
        }

        & ul li:hover {
            text-shadow: $shadow;
        }
        & ul li a:hover{
            color: rgb(255, 255, 255);
            font-size: 1.1rem;
        }
    }
}