section {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    & .main-info {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        & .info-text {
            width: 40vw;
            min-width: 300px;
            font-size: 16px;
            margin-top: auto;
            margin-bottom: auto;
            margin-left: 1vw;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            text-shadow: $shadow;

            & h1 {
                width: fit-content;
                font: 2em sans-serif;
                max-width: 40vw;
            }
        }

        & .logo_img img {
            width: 100%;
            max-width: 40vw;
            min-width: 250px;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            // justify-content: end;
            // justify-items: flex-end;
            // margin-left: auto;
            margin-left: auto;
            margin-right: auto;

        }
    }

    & #holamezza {
        color: rgb(0, 0, 0);
        background-color: whitesmoke;
        border: solid black 2px;
        margin-right: auto;
        margin-left: auto;
        margin-top: 2vh;

        & button {
            background-color: blue;
        }
    }
}